@charset "utf-8";
/* thegrape */

@font-face {
    font-family: 'Noto Medium';
    font-weight: normal;
    src: url(../font/NotoKR-Medium/notokr-medium.eot);
    src: url(../font/NotoKR-Medium/notokr-medium.eot?#iefix)
            format('embedded-opentype'),
        url(../font/NotoKR-Medium/notokr-medium.woff) format('woff'),
        url(../font/NotoKR-Medium/notokr-medium.ttf) format('truetype'),
        url(../font/NotoKR-Medium/NotoSansKR-Medium.otf) format('truetype');
}
@font-face {
    font-family: 'Noto Regular';
    font-weight: normal;
    src: url(../font/NotoKR-Regular/notokr-regular.eot);
    src: url(../font/NotoKR-Regular/notokr-regular?#iefix)
            format('embedded-opentype'),
        url(../font/NotoKR-Regular/notokr-regular.woff2) format('woff2'),
        url(../font/NotoKR-Regular/notokr-regular.woff) format('woff'),
        url(../font/NotoKR-Regular/notokr-regular.ttf) format('truetype'),
        url(../font/NotoKR-Regular/notokr-regular.svg#notokr-regular)
            format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Light';
    font-weight: normal;
    src: url(../font/NotoKR-Light/notokr-light.eot);
    src: url(../font/NotoKR-Light/notokr-light.eot?#iefix)
            format('embedded-opentype'),
        url(../font/NotoKR-Light/notokr-light.woff2) format('woff2'),
        url(../font/NotoKR-Light/notokr-light.woff) format('woff'),
        url(../font/NotoKR-Light/notokr-light.ttf) format('truetype'),
        url(../font/NotoKR-Light/NotoSansKR-Light.otf) format('truetype');
}
/*font: 12px/1.2em 'Noto Sans KR','Noto Sans Korean', sans-serif; font-family:'Noto Regular';*/

body {
    font: 'Noto Sans KR', 'Noto Sans Korean', sans-serif;
    font-family: 'Noto Light';
    line-height: 1.2rem;
    font-size: 0.8rem;
}

.font_sans {
    font-family: 'Noto Sans';
}

/* padding margin class*/

.line_h {
    line-height: 120%;
}
.line_h1 {
    line-height: 150%;
}
.line_h120 {
    line-height: 120%;
}
.f_web {
    font-weight: bold;
}
.f_wem {
    font-weight: 300;
}

.font_f1 {
    font-family: Dotum;
}

.dis_box {
    display: inline-block;
}

label {
    color: #111;
    font-weight: 100;
}
.pz {
    padding: 0;
}
.mz {
    margin: 0;
}
.mar_cen {
    margin: auto;
}

ul,
li {
    list-style: none;
    text-decoration: none;
    padding: 0;
    border: 0;
}
.over_h {
    overflow: hidden;
}
.cp {
    cursor: pointer;
}
.dis_n {
    display: none;
}
.dis_b {
    display: block;
}
.cl_b {
    clear: both;
}
.fl_r {
    float: right;
}
.fl_l {
    float: left;
}

.text_j {
    text-align: justify;
}
.text_del {
    text-decoration: line-through;
}
.text_line {
    text-decoration: underline;
}
.text_g {
    font-style: oblique;
}

a:link {
    text-decoration: none;
    color: #111;
}
a:hover {
    text-decoration: none;
    color: #111;
}
a:visited {
    color: #111;
}

.text_de {
    text-shadow: 1px 1px 1px gray;
}

/* margin */
.m10p {
    margin-top: 10%;
}
.m10 {
    margin: 10px;
}
.m15 {
    margin: 15px;
}

.mtm2 {
    margin-top: -2px;
}
.mtm3 {
    margin-top: -3px;
}
.mtm4 {
    margin-top: -4px;
}
.mtm5 {
    margin-top: -5px;
}
.mtm8 {
    margin-top: -8px;
}
.mt1 {
    margin-top: 1px;
}
.mt2 {
    margin-top: 2px;
}
.mt3 {
    margin-top: 3px;
}
.mt4 {
    margin-top: 4px;
}
.mt5 {
    margin-top: 5px;
}
.mt6 {
    margin-top: 6px;
}
.mt7 {
    margin-top: 7px;
}
.mt10 {
    margin-top: 10px;
}
.mt12 {
    margin-top: 12px;
}
.mt13 {
    margin-top: 13px;
}
.mt15 {
    margin-top: 15px;
}
.mt17 {
    margin-top: 17px;
}
.mt20 {
    margin-top: 20px;
}
.mt25 {
    margin-top: 25px;
}
.mt30 {
    margin-top: 30px;
}
.mt35 {
    margin-top: 35px;
}
.mt40 {
    margin-top: 40px;
}
.mt45 {
    margin-top: 45px;
}
.mt50 {
    margin-top: 50px;
}
.mt55 {
    margin-top: 55px;
}
.mt60 {
    margin-top: 60px;
}
.mt70 {
    margin-top: 70px;
}
.mt75 {
    margin-top: 75px;
}
.mt80 {
    margin-top: 80px;
}
.mt90 {
    margin-top: 90px;
}
.mt95 {
    margin-top: 95px;
}
.mt100 {
    margin-top: 100px;
}
.mt110 {
    margin-top: 110px;
}
.mt120 {
    margin-top: 120px;
}
.mt140 {
    margin-top: 140px;
}
.mt160 {
    margin-top: 160px;
}
.mt170 {
    margin-top: 170px;
}
.mt190 {
    margin-top: 190px;
}
.mt200 {
    margin-top: 200px;
}
.mt230 {
    margin-top: 230px;
}
.mt250 {
    margin-top: 250px;
}
.mt350 {
    margin-top: 350px;
}
.mt400 {
    margin-top: 400px;
}
.mt420 {
    margin-top: 420px;
}
.mt430 {
    margin-top: 430px;
}

.mb5 {
    margin-bottom: 5px;
}
.mb6 {
    margin-bottom: 6px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb50 {
    margin-bottom: 50px;
}
.mb60 {
    margin-bottom: 60px;
}
.mb70 {
    margin-bottom: 70px;
}
.mb80 {
    margin-bottom: 80px;
}
.mb90 {
    margin-bottom: 90px;
}
.mb100 {
    margin-bottom: 100px;
}
.mb120 {
    margin-bottom: 120px;
}
.mb130 {
    margin-bottom: 130px;
}
.mb140 {
    margin-bottom: 140px;
}
.mb150 {
    margin-bottom: 150px;
}
.mb170 {
    margin-bottom: 170px;
}
.mb200 {
    margin-bottom: 200px;
}

.ml5 {
    margin-left: 5px;
}
.ml7 {
    margin-left: 7px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml17 {
    margin-left: 17px;
}
.ml20 {
    margin-left: 20px;
}
.ml25 {
    margin-left: 25px;
}
.ml30 {
    margin-left: 30px;
}
.ml40 {
    margin-left: 40px;
}
.ml50 {
    margin-left: 50px;
}
.ml60 {
    margin-left: 60px;
}
.ml70 {
    margin-left: 70px;
}
.ml150 {
    margin-left: 150px;
}
.ml220 {
    margin-left: 220px;
}

.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr13 {
    margin-right: 13px;
}
.mr14 {
    margin-right: 14px;
}
.mr15 {
    margin-right: 15px;
}
.mr17 {
    margin-right: 17px;
}
.mr20 {
    margin-right: 20px;
}
.mr25 {
    margin-right: 25px;
}
.mr30 {
    margin-right: 30px;
}
.mr35 {
    margin-right: 35px;
}
.mr40 {
    margin-right: 40px;
}
.mr50 {
    margin-right: 50px;
}
.mr60 {
    margin-right: 60px;
}
.mr70 {
    margin-right: 70px;
}

/* padding */
.p1 {
    padding: 1px;
}
.p2 {
    padding: 2px;
}
.p3 {
    padding: 3px;
}
.p3 {
    padding: 4px;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p14 {
    padding: 14px;
}
.p15 {
    padding: 15px;
}
.p20 {
    padding: 20px;
}
.p30 {
    padding: 30px;
}
.p35 {
    padding: 35px;
}
.p40 {
    padding: 40px;
}
.p50 {
    padding: 50px;
}
.p90 {
    padding: 90px;
}

.pt2 {
    padding-top: 2px;
}
.pt3 {
    padding-top: 3px;
}
.pt4 {
    padding-top: 4px;
}
.pt5 {
    padding-top: 5px;
}
.pt6 {
    padding-top: 6px;
}
.pt7 {
    padding-top: 7px;
}
.pt8 {
    padding-top: 8px;
}
.pt9 {
    padding-top: 9px;
}
.pt10 {
    padding-top: 10px;
}
.pt12 {
    padding-top: 12px;
}
.pt14 {
    padding-top: 14px;
}
.pt15 {
    padding-top: 15px;
}
.pt17 {
    padding-top: 17px;
}
.pt18 {
    padding-top: 18px;
}
.pt20 {
    padding-top: 20px;
}
.pt21 {
    padding-top: 21px;
}
.pt23 {
    padding-top: 23px;
}
.pt13 {
    padding-top: 13px;
}
.pt20 {
    padding-top: 20px;
}
.pt25 {
    padding-top: 25px;
}
.pt28 {
    padding-top: 28px;
}
.pt30 {
    padding-top: 30px;
}
.pt35 {
    padding-top: 35px;
}
.pt40 {
    padding-top: 40px;
}
.pt45 {
    padding-top: 45px;
}
.pt50 {
    padding-top: 50px;
}
.pt55 {
    padding-top: 55px;
}
.pt60 {
    padding-top: 60px;
}
.pt65 {
    padding-top: 65px;
}
.pt70 {
    padding-top: 70px;
}
.pt80 {
    padding-top: 80px;
}
.pt100 {
    padding-top: 100px;
}
.pt110 {
    padding-top: 110px;
}

.pb3 {
    padding-bottom: 3px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb7 {
    padding-bottom: 7px;
}
.pb8 {
    padding-bottom: 8px;
}
.pb9 {
    padding-bottom: 9px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb14 {
    padding-bottom: 14px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb18 {
    padding-bottom: 18px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb21 {
    padding-bottom: 21px;
}
.pb24 {
    padding-bottom: 24px;
}
.pb25 {
    padding-bottom: 25px;
}
.pb30 {
    padding-bottom: 30px;
}
.pb37 {
    padding-bottom: 37px;
}
.pb40 {
    padding-bottom: 40px;
}
.pb50 {
    padding-bottom: 50px;
}
.pb60 {
    padding-bottom: 60px;
}
.pb70 {
    padding-bottom: 70px;
}
.pb75 {
    padding-bottom: 75px;
}
.pb80 {
    padding-bottom: 80px;
}
.pb90 {
    padding-bottom: 90px;
}
.pb100 {
    padding-bottom: 100px;
}
.pb110 {
    padding-bottom: 110px;
}
.pb300 {
    padding-bottom: 300px;
}

.pl1 {
    padding-left: 1px;
}
.pl2 {
    padding-left: 2px;
}
.pl3 {
    padding-left: 3px;
}
.pl4 {
    padding-left: 4px;
}
.pl5 {
    padding-left: 5px;
}
.pl10 {
    padding-left: 10px;
}
.pl11 {
    padding-left: 11px;
}
.pl14 {
    padding-left: 14px;
}
.pl15 {
    padding-left: 15px;
}
.pl16 {
    padding-left: 16px;
}
.pl17 {
    padding-left: 17px;
}
.pl20 {
    padding-left: 20px;
}
.pl25 {
    padding-left: 25px;
}
.pl30 {
    padding-left: 30px;
}
.pl35 {
    padding-left: 35px;
}
.pl40 {
    padding-left: 40px;
}
.pl45 {
    padding-left: 45px;
}
.pl50 {
    padding-left: 50px;
}
.pl60 {
    padding-left: 60px;
}
.pl70 {
    padding-left: 70px;
}
.pl80 {
    padding-left: 80px;
}
.pl85 {
    padding-left: 85px;
}
.pl90 {
    padding-left: 90px;
}
.pl55 {
    padding-left: 55px;
}
.pl100 {
    padding-left: 100px;
}
.pl110 {
    padding-left: 110px;
}
.pl120 {
    padding-left: 120px;
}
.pl130 {
    padding-left: 130px;
}
.pl150 {
    padding-left: 150px;
}

.pr5 {
    padding-right: 5px;
}
.pr10 {
    padding-right: 10px;
}
.pr11 {
    padding-right: 11px;
}
.pr14 {
    padding-right: 14px;
}
.pr15 {
    padding-right: 15px;
}
.pr16 {
    padding-right: 16px;
}
.pr17 {
    padding-right: 17px;
}
.pr20 {
    padding-right: 20px;
}
.pr25 {
    padding-right: 25px;
}
.pr30 {
    padding-right: 30px;
}
.pr35 {
    padding-right: 35px;
}
.pr40 {
    padding-right: 40px;
}
.pr45 {
    padding-right: 45px;
}
.pr50 {
    padding-right: 50px;
}
.pr55 {
    padding-right: 55px;
}
.pr60 {
    padding-right: 60px;
}
.pr65 {
    padding-right: 65px;
}
.pr80 {
    padding-right: 80px;
}
.pr90 {
    padding-right: 90px;
}
.pr95 {
    padding-right: 95px;
}
.pr100 {
    padding-right: 100px;
}
.pr110 {
    padding-right: 110px;
}
.pr115 {
    padding-right: 115px;
}
.pr120 {
    padding-right: 120px;
}
.pr130 {
    padding-right: 130px;
}
.pr140 {
    padding-right: 140px;
}

/* font */
.fs_9 {
    font-size: 0.5625rem;
}
.fs_10 {
    font-size: 0.625rem;
}
.fs_11 {
    font-size: 0.688em;
}
.fs_12 {
    font-size: 0.75em;
}
.fs_13 {
    font-size: 0.813em;
}
.fs_14 {
    font-size: 0.875em;
}
.fs_15 {
    font-size: 0.938em;
}
.fs_16 {
    font-size: 1em;
}
.fs_17 {
    font-size: 1.063em;
}
.fs_18 {
    font-size: 1.125em;
}
.fs_19 {
    font-size: 1.188em;
}
.fs_20 {
    font-size: 1.25em;
}
.fs_22 {
    font-size: 1.375em;
}
.fs_23 {
    font-size: 1.438em;
}
.fs_24 {
    font-size: 1.5em;
}
.fs_25 {
    font-size: 1.563em;
}
.fs_26 {
    font-size: 1.625em;
}
.fs_27 {
    font-size: 27px;
}
.fs_28 {
    font-size: 28px;
}
.fs_30 {
    font-size: 1.875em;
}
.fs_32 {
    font-size: 2em;
}
.fs_35 {
    font-size: 2.188em;
}
.fs_36 {
    font-size: 2.25em;
}
.fs_40 {
    font-size: 2.5em;
}
.fs_45 {
    font-size: 2.813em;
}
.fs_46 {
    font-size: 2.875em;
}
.fs_48 {
    font-size: 3em;
}
.fs_49 {
    font-size: 49px;
}
.fs_50 {
    font-size: 50px;
}
.fs_55 {
    font-size: 3.438em;
}
.fs_60 {
    font-size: 3.75em;
}
.fs_64 {
    font-size: 4em;
}
.fs_72 {
    font-size: 4.5em;
}

.f_we0 {
    font-weight: 100;
}
.f_we1 {
    font-weight: 200;
}
.f_we2 {
    font-weight: 300;
}
.f_we3 {
    font-weight: 400;
}
.f_we4 {
    font-weight: 500;
}
.f_we5 {
    font-weight: 600;
}

.letter1 {
    letter-spacing: -1px;
}
.letter2 {
    letter-spacing: -2px;
}
.letter3 {
    letter-spacing: -3px;
}

/* width */
.we10 {
    width: 10%;
}
.we15 {
    width: 15%;
}
.we100 {
    width: 100%;
}
.we20 {
    width: 19.99%;
}
.we25 {
    width: 25%;
}
.we30 {
    width: 30%;
}
.we33 {
    width: 33%;
}
.we40 {
    width: 40%;
}
.we50 {
    width: 50%;
}
.we60 {
    width: 60%;
}
.we80 {
    width: 80%;
}
.we260 {
    width: 260px;
}
.we142 {
    width: 14.2%;
}

.we_20 {
    width: 20px;
}
.we_30 {
    width: 30px;
}
.we_44 {
    width: 44px;
}
.we_50 {
    width: 50px;
}
.we_60 {
    width: 60px;
}
.we_64 {
    width: 64px;
}
.we_70 {
    width: 70px;
}
.we_90 {
    width: 90px;
}
.we_100 {
    width: 100px;
}
.we_120 {
    width: 120px;
}
.we_130 {
    width: 130px;
}
.we_140 {
    width: 140px;
}
.we_150 {
    width: 150px;
}
.we_170 {
    width: 170px;
}
.we_180 {
    width: 180px;
}
.we_200 {
    width: 200px;
}
.we_230 {
    width: 230px;
}
.we_260 {
    width: 260px;
}
.we_300 {
    width: 300px;
}
.we_350 {
    width: 350px;
}
.we_750 {
    width: 750px;
}

.min_w1 {
    min-width: 1200px;
}

/* height */
.min_h1 {
    min-height: 800px;
}

.he10 {
    height: 10px;
}
.he15 {
    height: 15px;
}
.he20 {
    height: 20px;
}
.he25 {
    height: 25px;
}
.he30 {
    height: 30px;
}
.he35 {
    height: 35px;
}
.he37 {
    height: 37px;
}
.he38 {
    height: 38px;
}
.he40 {
    height: 40px;
}
.he45 {
    height: 45px;
}
.he50 {
    height: 50px;
}
.he55 {
    height: 55px;
}
.he60 {
    height: 60px;
}
.he65 {
    height: 65px;
}
.he70 {
    height: 70px;
}
.he75 {
    height: 75px;
}
.he80 {
    height: 80px;
}
.he85 {
    height: 85px;
}
.he90 {
    height: 90px;
}
.he95 {
    height: 95px;
}
.he100 {
    height: 100px;
}
.he110 {
    height: 110px;
}
.he115 {
    height: 115px;
}
.he116 {
    height: 116px;
}
.he120 {
    height: 120px;
}
.he130 {
    height: 130px;
}
.he135 {
    height: 135px;
}
.he140 {
    height: 140px;
}
.he149 {
    height: 149px;
}
.he150 {
    height: 150px;
}
.he160 {
    height: 160px;
}
.he170 {
    height: 170px;
}
.he180 {
    height: 180px;
}
.he185 {
    height: 185px;
}
.he190 {
    height: 190px;
}
.he157 {
    height: 157px;
}
.he240 {
    height: 240px;
}
.he250 {
    height: 250px;
}
.he200 {
    height: 200px;
}
.he210 {
    height: 210px;
}
.he230 {
    height: 230px;
}
.he240 {
    height: 240px;
}
.he250 {
    height: 250px;
}
.he260 {
    height: 260px;
}
.he270 {
    height: 270px;
}
.he290 {
    height: 290px;
}
.he300 {
    height: 300px;
}
.he330 {
    height: 330px;
}
.he340 {
    height: 340px;
}
.he370 {
    height: 370px;
}
.he380 {
    height: 380px;
}
.he400 {
    height: 400px;
}
.he302 {
    height: 302px;
}
.he314 {
    height: 314px;
}
.he350 {
    height: 350px;
}
.he460 {
    height: 460px;
}
.he480 {
    height: 480px;
}
.he500 {
    height: 500px;
}
.he520 {
    height: 520px;
}
.he530 {
    height: 530px;
}
.he540 {
    height: 540px;
}
.he570 {
    height: 570px;
}
.he580 {
    height: 580px;
}
.he600 {
    height: 600px;
}
.he635 {
    height: 635px;
}
.he650 {
    height: 650px;
}
.he670 {
    height: 670px;
}
.he698 {
    height: 698px;
}
.he700 {
    height: 700px;
}
.he800 {
    height: 800px;
}

/*color*/
.fc00 {
    color: #fff;
}
.fc0 {
    color: #000;
}
.fc1 {
    color: #111;
}
.fc2 {
    color: #222;
}
.fc3 {
    color: #333;
}
.fc4 {
    color: #444;
}
.fc5 {
    color: #555;
}
.fc6 {
    color: #666;
}
.fc7 {
    color: #777;
}
.fc8 {
    color: #888;
}
.fc9 {
    color: #999;
}

.fc11 {
    color: #cccccc;
}
.fc22 {
    color: #c86d5b;
}
.fc33 {
    color: #dbc2b6;
}
.fc44 {
    color: #5f3c31;
}
/*############################################ 초기설정끝 ###################################################*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Medium';
}

/* 버튼 */
.main_bt {
    width: 100%;
    border-radius: 50px;
    color: #fff;
    background-color: #f82a2a;
    border: 0;
}
.main_bt:hover {
    background-color: #f21515;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100%);
    height: 5px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

/*https://codepen.io/Naiyer/pen/QEyLXN*/

.checkbox input,
.checkbox-inline input,
.radio input,
.radio-inline input {
    opacity: 0;
    position: absolute;
}

.checkbox label,
.radio label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox .indicator,
.checkbox-inline .indicator,
.radio .indicator,
.radio-inline .indicator {
    position: relative;
}

.checkbox .indicator:before,
.checkbox-inline .indicator:before,
.radio .indicator:before,
.radio-inline .indicator:before {
    content: '';
    border: 2px solid #d7dcdf;
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    padding: 2px;
    margin-top: -5px;
    margin-right: 10px;
    text-align: center;
}

.checkbox input:checked + .indicator:before,
.checkbox-inline input:checked + .indicator:before {
    border-color: #3a9ffd;
    background-color: #3a9ffd;
}

.checkbox input:disabled + .indicator:before,
.checkbox-inline input:disabled + .indicator:before {
    border-color: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox input:checked:disabled + .indicator:before,
.checkbox-inline input:checked:disabled + .indicator:before {
    border-color: #ccc;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="-7 -7 30 30"><path fill="#ccc" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>')
        no-repeat;
}

.radio input + .indicator:before,
.radio-inline input + .indicator:before {
    border-radius: 50%;
}

.radio input:checked + .indicator:before,
.radio-inline input:checked + .indicator:before {
    border-color: #3a9ffd;
    background: #3a9ffd;
    box-shadow: inset 0px 0px 0px 5px #fff;
}

.radio input:disabled + .indicator:before,
.radio-inline input:disabled + .indicator:before {
    border-color: #ccc;
    box-shadow: inset 0px 0px 0px 5px #fff;
}

.radio input:checked:disabled + .indicator:before,
.radio-inline input:checked:disabled + .indicator:before {
    border-color: #ccc;
    background: #ccc;
    box-shadow: inset 0px 0px 0px 5px #fff;
}

.checkbox input:focus + .indicator,
.checkbox-inline input:focus + .indicator,
.radio input:focus + .indicator,
.radio-inline input:focus + .indicator {
    outline: 0px solid #ddd;
    /* focus style */
}

.form-control {
    font-size: 0.8rem;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.container {
    width: 100%;
}
.container-fluid {
    padding: 0 15px;
}
.lh28 {
    line-height: 28px;
}

.btn-line {
    border: 1px solid #1e2539;
    color: #1e2539;
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    outline: none;
    line-height: 38px;
}

.btn-line:hover {
    border-color: #8a9098;
    color: #8a9098;
    box-shadow: inherit;
    background-color: transparent;
}

.btn_act {
    color: #fff;
    background: #1e2539;
    border-color: #1e2539;
    line-height: 38px;
}
.btn_act:hover {
    color: #fff;
    background: #1e2539;
    border-color: #1e2539;
}

.btn_m {
    width: 100%;
    border: 1px solid #3a9ffd;
    color: #3a9ffd;
    background-color: transparent;
    height: 50px;
    outline: none;
    line-height: 38px;
    font-size: 0.8rem;
    font-family: 'Noto Medium';
}

.btn_m:hover {
    border-color: #3a9ffd;
    color: #fff;
    box-shadow: inherit;
    background-color: #3a9ffd;
}

.btn_cycle {
    border-radius: 40px;
    width: 80px;
    border: 1px solid #3a9ffd;
    color: #3a9ffd;
    background-color: transparent;
    height: 50px;
    outline: none;
    line-height: 38px;
    font-size: 0.8rem;
    font-family: 'Noto Medium';
}

.btn_cycle:hover {
    border-radius: 40px;
    border-color: #3a9ffd;
    color: #fff;
    box-shadow: inherit;
    background-color: #3a9ffd;
}

.poll_table1 {
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.poll_table1 td:first-child {
    background: #f7f7f7;
}
.poll_table1 td {
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

.poll_table2 {
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.poll_table2 td {
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

/*select box style*/

select.sel_box4 {
    background: url('../images/common/select_bg.png') no-repeat; /* 네이티브 화살표 대체 */
    background-position: right 20px top 50%;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    text-align: center;
    outline: none;
    border: 0;
}

select::-ms-expand {
    display: none;
}

.bg_color0 {
    background: #fff;
}
.bg_color1 {
    background: #f7f7f7;
}

.right_menu {
    position: fixed;
    top: 0;
    left: 1080px;
    width: 875px;
    height: 100%;
    z-index: 100000000;
    background: #fff;
}
.right_menu_bg {
    position: fixed;
    top: 0;
    right: -100000px;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 10000000;
}
.menu_cl_bt {
    position: absolute;
    top: 70px;
    left: -80px;
}

@media (max-width: 767px) {
}

/* Small devices (tablets or large size smart phone of size 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, laptops of size 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, screens of size 1200px and up) */
@media (min-width: 1200px) {
}

.swal-overlay,
.swal-modal {
    z-index: 100000000000;
}

/*pc 메인 슬라이드 1*/
.main_slide_css1 .swiper-container {
    width: 100%;
    height: auto;
}

.main_slide_css1 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    background: transparent;
    opacity: 1;
    border: 3px solid #fff;
}

.main_slide_css1 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.main_slide_css1 .swiper-pagination-fraction,
.main_slide_css1 .swiper-pagination-custom,
.main_slide_css1 .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 40px;
    left: 0;
    width: 100%;
}

label {
    padding: 5px 0 5px 0;
    margin: 0;
    font-family: 'Noto Medium';
    font-size: 0.8rem;
}
